<!DOCTYPE html>
<html>
<head>
  <h1> Index.ejs </h1>
</head>
<body>
  <canvas id='c' height="400" width="400">Canvas Doesn't Work</canvas>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/game.js"></script>
  <script>
    var id = <%- JSON.stringify(idn) %>;
    document.write(id);

    var socket = io.connect();

    var game = new Game();
    game.init();

    // a phone has just connected
    socket.on('server-join', function(data) {
      if (data.id == id) {
        game.start();
        console.log("Hello new client!");
        socket.emit('web-joinResponse', data);
      } else {
        console.log("Not a new client.");
      }
    });

    socket.on('server-motion', function(data) {
      if (data.id == id) {
        console.log("Motion: " + data.xVal + " " + data.yVal);
      } else {
        console.log("Motion from a non-client.");
      }
    });
  </script>
</body>
</html>