<html>
<head>
  <meta charset="utf-8">
  <title>Poem</title>

  <!-- js -->
  <script src="js/jquery-2.0.3.min.js"></script>

</head>

<body>
<form method="post" form="inputform">
  <input type="submit">
</form>
<textarea rows="4" cols="50" name="poem-area" form="inputform">
Enter text here...</textarea>

</body>
</html>