<div class="container" style="min-height:100%;">

	<div class="text" style="position:relative; min-height:100%; white-space: pre-wrap;" align="left">
		<div class="annotation-holder">
			<h3 id="id-title" style="position:absolute; top:10px"><%= title %></h3>
			<p id="id-author"><i><%= artist %></i></p><br><p class="lyrics" id="lyrics"><%= lyrics %></p>
		</div>
	</div>

	<form>
	<button class="ladda-button" data-size="s" data-color="#E28300" data-style="expand-left" id="return">
	</form>
	<span class="ladda-label">Return</span></button>
</div>