<div class="container">

  <div class="text">
    <textarea id="input"><%= text %></textarea>
  </div>
  <button class="ladda-button" data-color="#E28300" data-size="s" data-style="expand-left" id="enter">
  <span class="ladda-label">Process!</span></button>
</div>